---
import { Image } from "astro:assets";
const { featuredPost } = Astro.props;

// Default image if none provided
const DEFAULT_IMAGE = {
  src: "https://images.unsplash.com/photo-1516321497487-e288fb19713f?q=80&w=1000",
  width: 1000,
  height: 667,
};
---

<article class="py-20">
  <div
    class="card lg:card-side p-7 ring-1 ring-neutral/20 bg-base-300/40 rounded-3xl"
  >
    <a class="w-full" href={`/blog/${featuredPost.slug}`}>
      {featuredPost.data.postImage ? (
        <img
          src={featuredPost.data.postImage}
          alt={featuredPost.data.title}
          class="w-full lg:max-w-sm xl:max-w-2xl h-96 rounded-xl object-cover"
        />
      ) : (
        <Image
          src={DEFAULT_IMAGE.src}
          alt={featuredPost.data.title}
          class="w-full lg:max-w-sm xl:max-w-2xl h-96 rounded-xl object-cover"
          width={DEFAULT_IMAGE.width}
          height={DEFAULT_IMAGE.height}
        />
      )}
    </a>

    <div class="card-body px-0 lg:ml-10">
      <div class="badge badge-outline">Featured Post</div>

      <h1 class="card-title text-3xl mt-3">
        <a href={`/blog/${featuredPost.slug}`} class="hover:text-primary">
          {featuredPost.data.title}
        </a>
      </h1>

      <p class="text-base-content/70 mt-3 line-clamp-3">
        {featuredPost.data.description}
      </p>

      <div class="flex items-center gap-5 mt-8">
        <div class="flex items-center gap-3">
          <img
            class="w-9 h-9 rounded-full"
            src={featuredPost.data.authorImage || "https://images.unsplash.com/photo-1519345182560-3f2917c472ef?q=80&w=100"}
            alt={featuredPost.data.author}
          />
          <div>
            <p class="text-sm font-medium">{featuredPost.data.author}</p>
          </div>
        </div>
        <p class="text-sm text-base-content/70">{featuredPost.data.date}</p>
      </div>
    </div>
  </div>
</article>
