---
import { getCollection } from "astro:content";
import ThemeToggle from "../components/ThemeToggle.astro";

// Get site configuration
const [siteConfig] = await getCollection('config', ({ id, data }) => {
  return id === 'site.mdx' && data.type === 'site';
});

const { header, logo, title } = siteConfig.data;
const { navigation } = header;

const pathname = new URL(Astro.request.url).pathname;
---

<header>
  <nav class="navbar bg-base-100 shadow-sm justify-center items-center py-2 md:px-10 px-5">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu dropdown-content menu-md z-[1] mt-3 w-52 gap-2 rounded-box bg-base-100 p-2 shadow"
        >
          {
            navigation.map((item) => (
              <li>
                <a href={item.href}>{item.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <a href="/" class="btn btn-ghost normal-case text-xl">
        {logo ? <img src={logo} alt={title} class="h-8" /> : title}
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {
          navigation.map((item) => (
            <li>
              <a
                href={item.href}
                class={`hover:text-primary hover:bg-primary/10 transition flex py-2 px-4 rounded-md ${pathname === item.href ? "text-primary bg-primary/10" : ""}`}
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-end">
      <ThemeToggle />
    </div>
  </nav>
</header>
